<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>92lottery</title>
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <link href="css/app.21328c5b.css" rel="stylesheet">
  <link rel="stylesheet" href="/k3/css/chunk-9ca7d0dc.0f968705.css">
  <link rel="stylesheet" href="/k3/css/chunk-f7aaa136.30c67545.css">
  <link rel="stylesheet" href="/k3/css/chunk-vendors.b521b44f.css">
  <style>
    html,
    body {
      height: 100%;
      width: 100%; 
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }
    .block-click {
      pointer-events: none;
    }
    .d-none {
      display: none!important;
    }
    #result {
      display: none;
    }

    .display-none {
      display: none;
    }

    .details[data-v-42f27458] {
    padding: 0.4rem;
    border-bottom: 0.02667rem solid #e2e2e2;
}

.hb .details .detailLi[data-v-42f27458] {
    height: 0.66667rem;
    line-height: .66667rem;
    padding: 0 0.26667rem;
    background-color: #f9f9f9;
    color: #969696;
    font-size: .37333rem;
    border-radius: 0.13333rem;
    margin-bottom: 0.21333rem;
}
.details .tit[data-v-42f27458] {
    font-size: .53333rem;
    color: #000;
    margin-bottom: 0.26667rem;
}
  </style>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <div data-v-03b808c2="" class="mian game">
      <div data-v-106b99c8="" data-v-03b808c2="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center"><img data-v-03b808c2="" data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back"></div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-03b808c2="" data-v-106b99c8="" height="38px" width="100px" src="/images/17-49-48-625.png" class="logo" style="height: .80333rem!important;">
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-03b808c2="" data-v-106b99c8="" class="c-row item c-row-middle-center" onclick="location.href='/keFuMenu'">
              <img data-v-03b808c2="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio">
            </div>
            <div data-v-03b808c2="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-03b808c2="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume">
            </div>
          </div>
        </div>
      </div>
      <%- include('element/gameHead.ejs') -%>
      <%- include('element/betting.ejs') -%>
      <%- include('element/listOrder.ejs') -%>
      <%- include('element/popupJoin.ejs') -%>
      <%- include('element/quytac.ejs') -%>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
  <script src="/k3/js/main.js"></script>
  <script src="/k3/js/chuck.js"></script>
  <script>
    $.ajax({
      type: "POST",
      url: "/admin/manager/configs/get",
      data: "data",
      dataType: "json",
      success: function (response) {
        let bank = response.datas[0];
        $('.van-notice-bar__content').html(bank.config_k3);
      }
    });
  </script>
</body>

</html>