<!DOCTYPE html>
<html translate="no" data-dpr="4" style="font-size: 44.64px">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
  <title>92lottery</title>
  <script src="/js/block.js"></script>
  <link rel="stylesheet" href="/css/bet/wingo/main.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c1.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c2.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c3.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c4.css" />
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }
  </style>
</head>

<body style="font-size: 12px">
  <div id="app">
    <div data-v-a9660e98="" class="mian game">
      <div data-v-106b99c8="" data-v-a9660e98="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" height="38px" width="100px" src="/images/17-49-48-625.png"
              class="logo" style="height: .80333rem!important;" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center"
              onclick="location.href='/keFuMenu'">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio" />
            </div>
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume" />
            </div>
          </div>
        </div>
      </div>
      <!---------->
      <%- include('element/info.ejs') -%>
        <!---------->
        <div data-v-a9660e98="" class="game-betting">
          <div data-v-a9660e98="" class="tab">
            <%- include('element/e_tab_time.ejs') -%>
          </div>
          <div data-v-a9660e98="" class="content">
            <div data-v-a9660e98="" class="time-box c-row c-row-between m-b-10">
              <div data-v-a9660e98="" class="info">
                <div data-v-a9660e98="" class="txt">10 Phút</div>
                <div data-v-a9660e98="" class="number">2022062610925</div>
              </div>
              <div data-v-a9660e98="" class="out">
                <div data-v-a9660e98="" class="txt">
                  Thời gian còn lại để mua
                </div>
                <div data-v-a9660e98="" class="number c-row c-row-middle c-flew-end">
                  <div data-v-a9660e98="" class="item">0</div>
                  <div data-v-a9660e98="" class="item">0</div>
                  <div data-v-a9660e98="" class="item c-row c-row-middle">
                    :
                  </div>
                  <div data-v-a9660e98="" class="item">0</div>
                  <div data-v-a9660e98="" class="item">0</div>
                </div>
              </div>
            </div>
            <%- include('element/e_bet.ejs') -%>
          </div>
        </div>
        <div data-v-a9660e98="" class="game-list p-b-20">
          <%- include('element/list-order.ejs') -%>
            <%- include('element/join.ejs') -%>

        </div>
        <!---->
        <!---->
        <!---->
        <div data-v-a9660e98="" id="moveBox" class="moveBox" style="display: none">
          <div data-v-a9660e98="" class="moveHead c-row c-row-between c-row-middle">
            <div data-v-a9660e98="" class="close">Đóng</div>
            <div data-v-a9660e98="">
              <span data-v-a9660e98="">toàn màn hình</span>
            </div>
          </div>
          <div data-v-a9660e98="" class="long">
            <div data-v-a9660e98="" class="van-tabs van-tabs--line">
              <div class="van-tabs__wrap van-hairline--top-bottom">
                <div role="tablist" class="van-tabs__nav van-tabs__nav--line">
                  <div role="tab" aria-selected="true" class="van-tab van-tab--active">
                    <span class="van-tab__text van-tab__text--ellipsis">Bệt rồng mới nhất</span>
                  </div>
                  <div role="tab" class="van-tab">
                    <span class="van-tab__text van-tab__text--ellipsis">Cược của tôi</span>
                  </div>
                  <div class="van-tabs__line"></div>
                </div>
              </div>
              <div class="van-tabs__content">
                <div data-v-a9660e98="" role="tabpanel" class="van-tab__pane" style="">
                  <div data-v-a9660e98="" class="longlist"></div>
                </div>
                <div data-v-a9660e98="" role="tabpanel" class="van-tab__pane" style="display: none">
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-v-a9660e98="" id="sipachp">
          <!-- <audio data-v-a9660e98="" id="voice1" muted="muted">
                        <source data-v-a9660e98="" src="/audio/di1.da40b233.mp3" type="audio/mpeg" />
                    </audio>
                    <audio data-v-a9660e98="" id="voice2" muted="muted">
                        <source data-v-a9660e98="" src="/audio/di2.317de251.mp3" type="audio/mpeg" />
                    </audio> -->
        </div>
        <div data-v-a9660e98="" class="popup-qt van-popup van-popup--center"
          style="width: 80%; border-radius: 10px; max-width: 340px; z-index: 2040;display: none;">
          <div data-v-a9660e98="" class="rule-box">
            <div data-v-a9660e98="" class="title c-row c-row-middle-center">Quy tắc bán trước</div>
            <div data-v-a9660e98="" class="info">
              <div data-v-a9660e98="" class="comment"> Để bảo vệ quyền - lợi ích hợp pháp của người dùng
                tham gia bán trước và duy trì trình tự hoạt động bình thường của việc bán trước, các quy
                tắc được xây dựng theo hiệp định phù hợp với các thỏa thuận và quy tắc liên quan của
                luật cũng như quy định quốc gia. Chương 1 Định nghĩa1.1Định nghĩa bán trước: đề cập đến
                mô hình bán hàng trong đó người bán cung cấp gói sản phẩm hoặc dịch vụ để thu thập đơn
                đặt hàng của người tiêu dùng thông qua các công cụ sản phẩm bán trước và cung cấp hàng
                hóa, dịch vụ cho người bán theo thỏa thuận trước. 1.2Mô hình bán trước là mô hình "Ký
                gửi" . Khoản "Ký gửi" được đề cập đến như một lượng hàng hóa cố định bán trước được định
                sẵn. Khoản "ký gửi" có thể tham gia các trò chơi nhỏ và có cơ hội giành được nhiều lợi
                nhuận. Khoản tiền gửi có thể được trao đổi trực tiếp thành hàng hóa nhưng số tiền ký gửi
                không được dùng để trao đổi.1.3Sản phẩm bán trước: Là các sản phẩm do người bán cung cấp
                bằng cách sử dụng công cụ sản phẩm bán trước, chỉ các từ bán trước được đánh dấu trên
                tiêu đề hoặc trên trang chi tiết sản phẩm , ngoài ra các sản phẩm khác không sử dụng
                công cụ sản phẩm bán trước không phải là sản phẩm bán trước.1.4 Hệ thống bán trước: Đề
                cập đến hệ thống công cụ sản phẩm được cung cấp để hỗ trợ bán hàng theo mô hình bán
                trước. 1.5Giá hàng hóa bán trước: là giá của hàng hóa trước khi bán. Giá của hàng hóa
                bán trước bao gồm hai phần: giá bán và thanh toán. </div>
              <div data-v-a9660e98="" class="rule-btn c-row m-t-20 c-row-center">
                <button data-v-a9660e98=""
                  class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                  style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);">
                  <div data-v-a9660e98="" class="van-button__content">
                    <span data-v-a9660e98="" class="van-button__text">
                      <span data-v-a9660e98="">Tôi biết</span>
                    </span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <%- include('element/alert.ejs') -%>
    </div>
    <div data-v-7692a079="" data-v-a9660e98="" class="Loading c-row c-row-middle-center" style="display: none;">
      <div data-v-7692a079="" class="van-loading van-loading--circular">
        <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
          style="color: rgb(242, 65, 59);">
          <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/client.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
  <script src="/js/wingo10.js"></script>
  <script>
    $.ajax({
      type: "POST",
      url: "/admin/manager/configs/get",
      data: "data",
      dataType: "json",
      success: function (response) {
        let bank = response.datas[0];
        $('.van-notice-bar__content').html(bank.config_wingo);
      }
    });
  </script>
</body>

</html>